<h3>Select the South African city you want to start your trip from: </h3>
<h2>Start Cities</h2>
  <ul class="origins">
    <li *ngFor="let origin of origins"
      [class.selected]="origin === selectedOrigins"
      (click)="onSelectOrigin(origin)">
      <span class="badge">{{origin.id}}</span> {{origin.name}}
    </li>
</ul>



<div *ngIf="selectedOrigin">
 
  <h3>You selected to leave from: {{selectedOrigin.name | uppercase}}</h3>

 
</div>
<h3>Select the South African city you want to travel to: </h3>
<h2>Destination Cities</h2>
<ul class="destinations">
  <li *ngFor="let destination of destinations"
    [class.selected]="destination === selectedCity"
    (click)="onSelectDestination(destination)">
    <span class="badge">{{destination.id}}</span> {{destination.name}}
  </li>
</ul>

<div *ngIf="selectedDestination">
 
  <h3>You selected to go to: {{selectedDestination.name | uppercase}}</h3>
  
</div>

<h3>Enter the average speed in km/hr at which you expect to travel : </h3>

<h3>Your journey between {{selectedOrigin.name | uppercase}} and {{selectedDestination.name | uppercase}} will take {{travelTime}} hrs with 20 min rest per 2 hrs</h3>